<!DOCTYPE html>
<html>
<head>test angular playground</head>
<body>

<div ng-app ng-controller="AppController" class="angular-template-example">
<ol>
  <li ng-repeat="person in model">{{ person.name }}
  <ul><li ng-repeat="skill in person.skills">{{skill}}</li></ul>
</ol>
</div>

<script>
function AppController($scope) {
  $scope.model = [
    {name: 'Sally', skills: ['carpentry']},
    {name: 'Helen', skills: ['weaving', 'omnipotence']}
  ];
}
</script>

<script src="js/angular-1.0.2.min.js" async></script>

</html>
